body   { 
	background-color: #3399CC;
    padding:60px;
	text-align:center;
	font-size:45px;
	
        }


@keyframes color-change {
     0% {
    color: blue;
    }
  
    50% {
    color: red;
     }
  
    100% {
    color: blue;
        }
          }
  
          
          






    :hover h1 {

    Color:#ae5959;
    border:firebrick ;
    text-decoration-color:forestgreen;
    
    animation: color-change 3s infinite;
    
    


    }