body   { 
	background-color: #3399CC;
    padding:60px;
	text-align:center;
	font-size:45px;
	
        }

h1 {

    Color:#ae5959;
    font-family:cursive;
    border:firebrick ;
    text-decoration-color:forestgreen;
    



    }